@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: black;
    font-size: larger;
}


span {
    font-family: 'Monoton', cursive;
    font-size: 2.5vw;
}

.grid-container {
    /* border: 1px solid green; */
    width: 100vw;
    height: 100vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
        "c8 . . c1 c5  "
        "c4 a4 a4 a1 . "
        ". a3 c a1 ."
        ". a3 a2 a2 c2"
        "c7 c3 . . c6 ";
    background-color: #AD91A3;
    background-image: url(./assets/yellowsubmarinecircle.png);
    background-position-x: 42vw;
    background-position-y: 41.5vw;
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: 16vw;
}

.arm {
    /* border: 1px solid red; */
    justify-items: stretch;
    background-color: #F0C987;
    opacity: 0.5;
    overflow: hidden;
}

.arm:hover {
    opacity: 1;
}

.centro {
    grid-area: c;
    background-color: #F0C987;
    opacity: 0.5;
}

.centro1 {
    grid-area: c1;
    background-color: #F0C987;
    opacity: 0.5;
    border-top-left-radius: 50vw;
}

.centro2 {
    grid-area: c2;
    background-color: #F0C987;
    opacity: 0.5;
    border-top-right-radius: 50vw;
}

.centro3 {
    grid-area: c3;
    background-color: #F0C987;
    opacity: 0.5;
    border-bottom-right-radius: 50vw;
}

.centro4 {
    grid-area: c4;
    background-color: #F0C987;
    opacity: 0.5;
    border-bottom-left-radius: 50vw;
}

.centro5 {
    grid-area: c5;
    background-color: #F0C987;
    opacity: 0.5;
}

.centro6 {
    grid-area: c6;
    background-color: #F0C987;
    opacity: 0.5;
}

.centro7 {
    grid-area: c7;
    background-color: #F0C987;
    opacity: 0.5;
}

.centro8 {
    grid-area: c8;
    background-color: #F0C987;
    opacity: 0.5;
}



.a1 {
    grid-area: a1;
    display: flex;
    flex-direction: column;
    border-bottom-right-radius: 50vw;
}

.a2 {
    grid-area: a2;
    display: flex;
    flex-direction: row-reverse;
    border-bottom-left-radius: 50vw;
}

.a3 {
    grid-area: a3;
    display: flex;
    flex-direction: column-reverse;
    border-top-left-radius: 50vw;
}

.a4 {
    grid-area: a4;
    display: flex;
    border-top-right-radius: 50vw;
}

.arm-img {
    width: 20vw;
    height: 20vw;
    /* border: 1px solid green; */
    
}

.arm-text {
    /* width: 16.66vw; */
    /* height: 16.66vw; */
    /* border: 1px solid yellow; */
    display: flex;
    flex-basis: 0;
    justify-content: space-around;
    /* overflow: hidden; */
    padding: 3.5vw;
    rotate: 90deg; 
}


@media only screen and (max-width: 1000px) {
    .grid-container {
        gap: 1vw;
        width: 100vw;
        height: 200vw;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
            "a4 a4"
            "a3 a1"
            "a3 a1"
            "a2 a2";
        background-image: none;
    }

    .arm-img {
        width: 50vw;
        height: 50vw;
    }

    .arm-text {
        width: 50vw;
        height: 50vw;
    }

    .arm {
        opacity: 1;
    }

    .arm-text {
        width: 16.66vw;
        height: 16.66vw;
        /* border: 1px solid yellow; */
        display: flex;
        justify-content: center;
    }

    .centro,
    .centro1,
    .centro2,
    .centro3,
    .centro4 {
        background-color: transparent;
    }

    h1 {
        font-size: 4vw;
    }
}

@media only screen and (max-width: 600px) {


    .grid-container {
        width: 100vw;
        height: 800vw;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(8, 1fr);
        grid-template-areas:
            "a1"
            "a1"
            "a2"
            "a2"
            "a4"
            "a4"
            "a3"
            "a3";
        background-image: none;
    }

    .arm-img {
        width: 100vw;
        height: 100vw;
    }

    .arm-text {
        width: 100vw;
        height: 100vw;
    }

    .arm {
        flex-direction: column;
        opacity: 1;
        border-top-right-radius: 0vw;
        border-top-left-radius: 0vw;
        border-bottom-right-radius: 0vw;
        border-bottom-left-radius: 0vw;
    }

    h1 {
        font-size: 17vw;
    }
}